<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Covid</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mybooking">My Booking</a>
                </li>
            </ul>
            <span style="padding-right: 10px;"><%= Name %></span>
            <a href="/login"><span class="navbar-text">Logout</span></a>
        </div>
    </nav>
    <% if(bookings.length == 0) { %>
        <h3 style="width: 100%; text-align: center; margin-top: 5%;">You haven't book any slots...</h3>
    <% } else { 
        bookings.forEach(function(booking) { %>
            <div class="container bg-light" id="mybooking" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Center Details</h5>
                        <h5><%= booking.Name %></h5>
                        <p><%= booking.Address %></p>
                        <p><b>Contact : </b><%= booking.Contact %></p>
                        <p><b>Working Hours : </b><%= booking.WorkFrom %> - <%= booking.WorkTo %></p>
                    </div>
                    <div class="col-sm-6">
                        <h5>Slot Details</h5>
                        <p>Slot ID : <%= booking.SlotId %></p>
                        <p>Date : <%= booking.SlotDate.toDateString(); %></p>
                        <p>Time : <%= booking.SlotTime %></p>
                    </div>
                </div>
            </div>
    <%  }); 
    } %>
</body>
</html>